<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Product App</title>
    <link rel="stylesheet" type="text/css" href="normalize.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
    <nav class="nav-bar"></nav>
    <div id="app" class="wrapper">
      <div class="product">
        <div class="product-image">
          <img :src="image" />
        </div>
        <div class="product-info">
          <h1>{{product}}</h1>
          <p v-if="inStock"> In Stock</p>
          <p v-else> Out of Stock</p>

          <ul>
            <li v-for="detail in details">{{detail}}</li>
          </ul>
        </div>

      </div>
    </div>
  </body>
  <script src="/node_modules/vue/dist/vue.min.js"></script>
  <script src="/main.js" type="module"></script>
</html>
